$test: rgb(255, 237, 131);
@mixin boxBlinkInfinite {
  animation: 1s ease 0 boxBlink alternate-reverse;
  box-shadow: none !important;
}

@mixin boxBlinkTwice {
  animation: 1s ease 5 boxBlink alternate-reverse;
}

@mixin clickBlinkInfinite {
  animation: 1s ease 0 clickBlink alternate-reverse;
}

@mixin clickBlinkTwice {
  animation: 1s ease 4 clickBlink alternate;
  opacity: 0;
}
@mixin propBlinkInfinite {
  filter: drop-shadow(0 0 5px rgba(255, 242, 0, 0.7));
  animation: 1s ease infinite propBlink alternate-reverse;
}

@mixin propBlinkTwice {
  filter: drop-shadow(0 0 0 rgba(255, 237, 131, 0.7));
  animation: 1s ease 4 propBlink alternate;
}

@mixin propHover {
  &.hovered {
    filter: drop-shadow(0 0 15px rgba(255, 242, 0, 0.8));
  }
}

@keyframes propBlink {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 237, 131, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 237, 131, 1));
  }
}

@keyframes clickBlink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxBlink {
  0% {
    box-shadow: 0 0 10px rgba(255, 247, 0, 0);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 247, 0, 1);
  }
}
