@use "./styles/responsive";

@keyframes blink {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 242, 0, 0));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 242, 0, 1));
  }
  //    animation: 1s ease infinite blink alternate-reverse;
}

@keyframes blinkOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  //    animation: 1s ease infinite blinkOpacity alternate-reverse;
}

@include responsive.only;
.prop {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.1s ease-out;
  &.hovered {
    filter: drop-shadow(0 0 15px rgba(255, 242, 0, 0.8));
  }
  &.pressed {
    filter: drop-shadow(0 0 5px rgba(255, 242, 0, 0.8));
  }
  @include responsive.mobile {
    filter: drop-shadow(0 0 5px rgba(255, 242, 0, 0.8));
    animation: 1s ease infinite blink alternate-reverse;
  }
}

.routeButton {
  position: absolute;
  cursor: pointer;
  font-family: "GyeonggiTitleM", sans-serif;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  > div {
    animation: 1s ease infinite blinkOpacity alternate-reverse;
  }
}

.LpPlayer {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 47, 21, 0.5);
    visibility: hidden;
    font-family: "GyeonggiTitleM", sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  &:hover {
    .overlay {
      visibility: visible;
    }
  }
}

.Greeting {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.5);
  color: white;
  padding: 40px;
  overflow-y: auto;

  &.open {
    display: block;
  }
}
.title {
  font-family: "GyeonggiTitleM", sans-serif;
  font-size: 60px;
  margin-bottom: 80px;
}
.text {
  font-family: "KCCChassam", sans-serif;
  font-size: 32px;
  white-space: pre-wrap;
}

@include responsive.desktop {
  .close {
    position: absolute;
    right: 40px;
    top: 40px;
    font-family: "GyeonggiTitleM", sans-serif;
    font-size: 60px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    color: #484848;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

@include responsive.mobile {
  .Greeting {
    padding: 15px;
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 24px;
    text-align: center;
    line-height: 2em;
    word-break: keep-all;
  }
  .next {
    position: absolute;
    bottom: 10%;
    justify-content: center;
    margin-top: 20px;
    font-family: "GyeonggiTitleM", sans-serif;
    font-size: 32px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    color: #484848;
    opacity: 1;
    cursor: pointer;
  }
  .buttons {
    position: absolute;
    bottom: 16%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    .button {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      color: white;
      font-family: "GyeonggiTitleM", sans-serif;
      font-size: 20px;
      &.invisible {
        visibility: hidden;
      }
      img {
        width: auto;
        margin: 0 2px;
      }
    }
  }
  .arrow1 {
    position: absolute;
    top: -2%;
    right: 0;
    width: 50%;
    height: 47%;
  }
  .arrow2 {
    position: absolute;
    top: 19%;
    left: 24%;
    width: 50%;
    height: 20%;
    transform: scaleX(-1);
  }
  .arrow3 {
    position: absolute;
    top: 15%;
    left: -10%;
    width: 70%;
    height: 25%;
    transform: scaleX(-1);
  }
}
