@use "./styles/sizing";
@use "./styles/background";
@use "./styles/responsive";

@include responsive.only;

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  font-family: "KCCChassam", sans-serif;
  color: black;
  font-size: 32px;
  > div {
    text-align: center;
    word-break: keep-all;
    margin: 10px 0;
  }
}
